%table#holidays
  - form_for @new_holiday do |f|
    %tr{:class => cycle('odd', 'even')}
      %td.date
        != f.date_select :date, :start_year => 2010, :order => [:day, :month, :year]
      %td.description
        != f.text_field :description
      %td.actions
        != f.submit 'Add'
  - @holidays.each do |holiday|
    %tr{:class => cycle('odd', 'even')}
      %td.date
        = format_date holiday.date
      %td.description
        = holiday.description
      %td.actions
        != link_to 'Delete', holiday, :method => :delete, :confirm => 'Are you sure you want to delete this holiday?'
