- content_for :head do
  :javascript
    $(document).ready(function() {
      $('.subnav .new_idea').addClass('active');

      $('#new_idea').submit(function() {
        if ($('#idea_title').val() == '') {
          $('#title_div').addClass('error');
          $('#title_div span').html('required');
          return false;
        }
        return true;
      });      
    });

- if flash.key? :notice
  .alert-message.success.fade.in{"data-alert" => "alert"}
    %a.close{:href=>"#"}
      x
    = flash[:notice]

%h2 Start a new idea

= form_for [current_project, @idea], :html => {:class => 'form-stacked'} do |f|
  %fieldset
    #created_by_div.clearfix
      != f.label :created_by
      != f.text_field :created_by, :class => 'span12', :value => current_user.email
      %span.help-inline 
    #title_div.clearfix
      != f.label :title
      != f.text_field :title, :class => 'span12'
      %span.help-inline 
    #description_div.clearfix
      != f.label :description
      != f.text_area :description, :class => 'span12'
      %span.help-inline 
    != f.submit 'Create', :class => 'btn primary'
