- content_for :head do
  :css
    .comment {}

%h1 Comments for "#{@idea.title}"

#comments
  - @comments.each do |comment|  
    %blockquote.comment
      .text
        :markdown
          #{comment.text}
      %small.email
        #{comment.user.email},
        = distance_of_time_in_words(Time.now, comment.created_at)
        ago

%br


= link_to 'New Comment', new_project_idea_comment_path(@project, @idea)
