%h1 New comment for "#{@idea.title}"

%p
  (you can use 
  %a{:href => 'http://daringfireball.net/projects/markdown/basics'} 
    Markdown
  for formatting)

= form_for [@project, @idea, @comment], :html => {:class => 'form-stacked'} do |f|
  -if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .field.clearfix
      = f.label :text
      = f.text_area :text, :class => 'span12'
    != f.submit 'Create', :class => 'btn primary'

