#story_form.modal{:style => 'display:none'}
  .modal-header
    %a.close{:href => '#'}x
    %h3.title
  .modal-body
    =form_for :story, :method => :put, :html => {:class => 'form-stacked'} do |f|
      %fieldset
        - if all_fields
          .clearfix.title
            != f.label :title
            != f.text_field :title, :size => 60
            %span.help-inline
          .clearfix.estimate
            != f.label :estimate
            != f.text_field :estimate, :size => 4
            %span.help-inline
        .clearfix.finished
          != f.label :finished
          != f.text_field :finished
          %span.help-inline
        .clearfix.hours_worked
          != f.label :hours_worked
          != f.text_field :hours_worked, :size => 4
          %span.help-inline
  .modal-footer
    != link_to 'Delete', '#', :method => :delete, :confirm => 'Are you sure you want to delete this estimate?', :class => 'btn danger delete_button'
    %button.btn.primary.ajaxd Save
