%tr
  %td.favorite
    = favorite_img idea
  %td.title
    != link_to_function format_title(idea.title), "openIdea('#{project_idea_path(idea.project, idea)}')"
  %td.description{:style => 'display:none;'}
    != format_title(idea.description)
    %span{:style => "display: none"}
      != idea.description
  %td.created_at
    != format_date(idea.created_at)
  %td.created_by
    != format_created_by(idea.created_by)
  %td.category
    != idea.category.name unless idea.category.nil?
  %td.rating
    - idea.get_rating_for_user(current_user).times do |star_num|
      = image_tag "star-rating-filled.png", :alt => idea.get_rating_for_user(current_user), "data-star-num" => star_num + 1, "data-idea-id" => idea.id
    - get_unfilled_stars(idea).times do |star_num|
      = image_tag "star-rating-unfilled.png", "data-star-num" => star_num + 1 + idea.get_rating_for_user(current_user), "data-idea-id" => idea.id
  %td.avg_rating
    - idea.average_rating.times do |star_num|
      = image_tag "star-rating-filled.png", :alt => idea.average_rating
    - get_average_unfilled_stars(idea).times do |star_num|
      = image_tag "star-rating-unfilled.png"
  %td.comments
    != link_to pluralize(idea.comments.size, "comment"), project_idea_comments_path(idea.project, idea)