%tr{:class => "#{story_row_class(story)}"}
  %td.title
    != link_to format_title(story.title), edit_story_path(story)
  %td.estimate
    = format_estimate story.estimate
  %td.finished
    = format_date story.finished
  %td.hours_worked
    = story.hours_worked
  %td.hours_vs_average
    != format_variance story.variance_vs_mean(@all_actuals_by_estimate[story.estimate])