- content_for :head do
  != javascript_include_tag 'idea_popup.js'

  :javascript
    $(document).ready(function() {
      $('.subnav .history').addClass('active');
      $('#ideas').tablesorter({ sortList: [[3,1]],
                                textExtraction:function(s){
                                   if($(s).find('img').length == 0) return $(s).text();
                                   return $(s).find('img').attr('alt');
                              } 
      });
      
      // What to do when the editing popup returns successfully
      $('body').bind('idea_saved', function(e, idea_data) {
        location.reload();
      });

      $('.favorite img').on('click', function() {
        if (this.src.indexOf('unchecked') > -1) {
          $.post('#{new_favorite_path}', {idea: this.getAttribute('data-idea-id') } );
          this.src = '/assets/star-checked.png';
        }
        else {
          $.post('#{delete_favorite_path}', {idea: this.getAttribute('data-idea-id') } );
          this.src = '/assets/star-unchecked.png';
        }
      });

      $('.rating img').on('click', function() {
        $.post('#{rate_idea_path}', {rating: this.getAttribute('data-star-num'), idea: this.getAttribute('data-idea-id') } );

        $(this).parent().find('[data-star-num]:lt(' + this.getAttribute('data-star-num') + ')').attr('src', '/assets/star-rating-filled.png');
        $(this).parent().find('[data-star-num]:gt(' + (this.getAttribute('data-star-num') - 1) + ')').attr('src', '/assets/star-rating-unfilled.png');
      });

      $('input#search').quicksearch('table tbody tr');
    });

- if flash.key? :notice
  .alert-message.success.fade.in{"data-alert" => "alert"}
    %a.close{:href=>"#"}
      x
    = flash[:notice]


%h2 All ideas
%form
  Search: 
  %input{:type => "text", :id => "search"}

%table#ideas.zebra-striped.condensed-table
  %thead
    %tr
      %th.favorite
      %th.title Title
      %th.description{:style => 'display:none;'} Description
      %th.created_at Created At
      %th.created_by Created By
      %th.category Category
      %th.rating Rating
      %th.avg_rating Avg. Rating

  %tbody
    != render :partial => 'idea', :collection => @ideas
!= render :partial => 'form', :locals => {:all_fields => true}
