%tr
  %td.estimate_group
    = title
  %td.newest_10
    != to_html actuals.first(10)
  %td.newest_30
    != discrete_sparkline actuals
  %td.newest_30
    != to_html actuals.first(30)
  %td.all
    != to_html actuals