- content_for :head do
  != javascript_include_tag 'jquery.sparkline.min'
  :javascript
    $(document).ready(function() {
      $('.sparkline').sparkline('html', { enableTagOptions: true });
      $('.nav .reports').addClass('active');
    });
    

.page-header
  %h1
    Trends
.row
  .span16

    - if current_user.stories.empty?
      %p
        You haven't entered any estimates. 
        != link_to 'Add some', stories_path
        or 
        != link_to 'import them from a CSV file', new_import_path
    - else

      #dashboard
        .section
          %h2 Hours Per Point
          %em
            != smoothed_data_series_sparkline @hours_per_point
            = @hours_per_point.last(10).mean.round.to_i
          development hours per point (normal range is between 
          != @hours_per_point.normal_range_min.round
          and 
          != @hours_per_point.normal_range_max.round

      #average_burn_rate
        %h2 Actuals
        %table
          %tr
            %th.estimate_group
              Estimate Size
            %th.newest_10
              Range, Last 10
            %th.newest_30{:colspan => 2}
              Range, Last 30
            %th.all
              Range, All
          - @actuals_by_bucket.each do |bucket_size, actuals|
            = render :partial => "actual_row", :locals => { :title => bucket_size, :actuals => actuals}
          = render :partial => "actual_row", :locals => { :title => "All - Story", :actuals => @all_actuals}
          = render :partial => "actual_row", :locals => { :title => "All - Point", :actuals => @all_actuals_normalized}
