%h1 Home

%ul
  %li
    != link_to 'Create a new estimate', stories_path
  %li
    != link_to 'Record the actual for a previously estimated story', stories_path
  %li
    != link_to 'Search for previous estimates', stories_path
  %li
    != link_to 'Explore your estimation patterns', burn_rate_path
  %li
    != link_to 'Make an estimation help sheet', estimation_view_path
  %li
    != link_to 'Change estimation targets', stories_path
  %li
    != link_to 'Import data', new_import_path
