- content_for :head do
  :javascript
    $(document).ready(function() {
      $('.subnav .settings').addClass('active');
    });

.page-header
  %h1
    Project Settings
    
=form_tag(project_update_settings_path, :method => :post, :class => 'form-stacked') do
  %fieldset
    %div{:class => div_class(@project, :name)}
      .clearfix    
      != label :name, 'Project Name'
      != text_field_tag :name, @project.name
      %span.help-inline
        = inline_help @project, :name
    %div{:class => div_class(@project, :buckets)}
      != label :buckets, 'Buckets'
      != text_field_tag :buckets, buckets_csv(@project)
      %span.help-inline
        = inline_help @project, :buckets
    %div{:class => div_class(@project, :target_point_size)}
      != label :target_point_size, 'Target point size (hours)'
      != number_field_tag :target_point_size, @project.target_point_size
      %span.help-inline
        = inline_help @project, :target_point_size
  .actions
    != submit_tag 'Save', class: 'btn primary'

%h3 Other actions
%p
  #{link_to "Delete this project", current_project, :confirm => "Are you sure?", :method => :delete, :class => 'btn danger'}
