- content_for :head do
  :javascript
    $(document).ready(function() {
      $('.nav .settings').addClass('active');
    });

.page-header
  %h1
    Application Settings
    
=form_for current_user, :url => settings_path, :html => {:class => 'form-stacked'} do |f|
  %fieldset
    .clearfix
      != f.label :target_point_size, 'Target point size (hours)'
      != f.number_field :target_point_size, :size => 6
  .actions
    != f.submit 'Save', class: 'btn primary'

-current_user.buckets.each do |bucket|
  !=bucket.pretty_print_html

=form_tag(new_bucket_path, :method => :post) do
  %fieldset
    .clearfix
      != label :new_bucket, 'New Bucket'
      != number_field_tag :new_bucket
      != submit_tag 'Save'









