= form_for @project, :html => {:class => 'form-stacked'} do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error") 
        prohibited this project from being saved:
      %ul
        - @project.errors.full_messages.each do |msg|
          %li
            = msg

  %fieldset
    = f.label :name
    = f.text_field :name
    %p
      = f.radio_button(:memberships, "1")
      = f.label('1', "Make this a private project")
      = f.radio_button(:memberships, "2")
      = f.label('2', "Add everyone to this project")

  = f.submit 'Create Project', :class => 'btn btn-primary'
