#idea_form.modal.hide{:style => 'top:300px;'}
  .modal-header
    %a.close{:href => '#'}x
    %h3.title
  .modal-body
    =form_for :idea, :method => :put, :html => {:class => 'form-stacked'} do |f|
      %fieldset
        .created_by
          != f.label :created_by
          != f.text_field :created_by, :class => 'span6'
          %span.help-inline
        .title
          != f.label :title
          != f.text_field :title, :class => 'span6'
          %span.help-inline
        .description
          != f.label :description
          != f.text_area :description, :size =>'50x8', :class => 'span6'
          %span.help-inline
        .category
          != f.label :category
          != f.select :category, (Category.all.collect {|c| [c.name, c.id]}), {:class => 'span6'}, {:style =>"width:460px;"}
          %span.help-inline
  .modal-footer
    != link_to 'Delete', '#', :method => :delete, :confirm => 'Are you sure you want to delete this idea?', :class => 'btn btn-danger delete_button'
    %button.btn.btn-primary.ajaxd Save
