.modal.hide{:id => 'settingsModal'+project.id.to_s}
  .modal-header
    %button.close{:data=> {:dismiss=>"modal"}}
      x
    %h3= "Project Settings"

  .modal-body
    %h3 Project Name
    =form_tag(project_update_settings_path(project), :method => :post) do
      %fieldset
        %div{:class => div_class(project, :name)}
          = text_field_tag :name, project.name
          %span.help-inline
            = inline_help project, :name
          = submit_tag 'Save', :class => 'btn btn-primary'

    %h3 Collaborators
    %table
      - project.memberships.each do |membership|
        %tr
          %td= membership.user.email
          %td= link_to 'Remove', [project, membership], confirm: 'Are you sure?', :method => :delete
    = form_for [project, project.memberships.build], :html => {:class => 'form-stacked'} do |f|
      %fieldset
        = f.label :user, "Enter collaborator's email:"
        = f.text_field :user, :value => (f.object.user.blank? ? '' : f.object.user.email)
        = f.submit 'Add Collaborator', :class => 'btn btn-primary'

  .modal-footer
    = link_to "Delete this project", project_path(project), :confirm => "Are you sure?", :method => :delete, :class => 'btn btn-danger'
    = link_to 'Cancel', '#', :class => "btn submit-button-secondary submit-button-delete", :data=> {:dismiss=>"modal"}
