- content_for :head do
  != stylesheet_link_tag 'print', :media => 'print'

%h2
  Ideas by Project
%form
  Search:
  %input{:type => "text", :id => "search"}

- if !@projects.empty?
  %ul
    - @projects.each do |project|
      %div{:id =>"project-div-"+project.id.to_s}
        .project_name_div{:style => "float:left; width:460px;"}
          %h2.click-to-edit
            = project.name
          = form_for project, :remote => true, :html => {:class => "hidden project-form"} do |f|
            = f.text_field :name, :class => "h2", :style => "width:420px;"
            = f.submit 'Update', :class => "btn hidden"

        -# button group of actions on project
        .btn-group{:style => "float:right; width:106px;"}
          %a{:href => "#settingsModal"+project.id.to_s, :class =>"btn settings-button",
                       :data => {:toggle=>"modal", :proj_id => project.id}}
            %b.icon-cog

          %a{:href => "#ideaModal"+project.id.to_s, :class =>"btn new-idea-modal",
                        :data => {:toggle=>"modal", :proj_id => project.id}}
            %b.icon-plus

          .btn.hide-button{:data => {:proj_id => project.id}}
            %b.icon-chevron-up

        = render :partial => 'new_idea', :locals => {:project => project}
        = render :partial => 'settings_form', :locals => {:project => project}
        .table-div{:style => 'width:100%;'}
          %table.project-table.table.table-striped.table-condensed{:data => { :pid => "#{project.id}"}}
            %thead
              %th.favorite{:style => 'width:25px'}
              %th.title{:style => 'width:150px'} Title
              %th.created_at{:style => 'width:130px'} Created At
              %th.created_by{:style => 'width:100px'} Created By
              %th.category{:style => 'width:100px'} Category
              %th.rating Rating
              %th.avg_rating Avg. Rating
              %th.comments{:style => 'width:80px'}
            %tbody
              = render :partial => 'idea', :collection => project.ideas.order("title ASC")


  = render :partial => 'idea_form', :locals => {:all_fields => true}



