=form_for @story do |f|
  %div
    != f.label :title
    != f.text_field :title, :size => 60
  %div
    != f.label :estimate
    != f.text_field :estimate, :size => 4
  %div
    != f.label :started
    != f.date_select :started, :start_year => 2010, :order => [:day, :month, :year]
  %div
    != f.label :finished
    != f.date_select :finished, :start_year => 2010, :order => [:day, :month, :year]
  %div
    != f.label :hours_worked
    != f.text_field :hours_worked, :size => 4
  %div
    != f.submit 'Save'
