.form.modal{:style => 'display:none;', :id => "modal_div_#{story.id}"}
  =form_for [current_project, story], :html => {:class => 'form-stacked'} do |f|
    %fieldset
      .clearfix
        != f.label :finished
        != f.text_field :finished, :id => "story_finished_#{story.id}", :class => 'date_picker', :value => Date.today.strftime("%m/%d/%Y")
      .clearfix
        != f.label :hours_worked
        != f.number_field :hours_worked, :size => 4
    != f.submit 'Save', :class => 'btn primary ajaxd'
    != link_to 'Delete', [current_project, story], :method => :delete, :confirm => 'Are you sure you want to delete this estimate?', :class => 'btn danger'
