%tr
  %td.title
    != link_to format_title(story_actual.title, 160), '#', :class=>'expand'
    .form{:style => 'display:none;'}
      =form_for story_actual, :html => {:class => 'form-stacked'} do |f|
        %fieldset
          .clearfix
            != f.label :finished
            != f.text_field :finished, :id => "story_finished_#{story_actual.id}", :class => 'date_picker', :value => Date.today.strftime("%m/%d/%Y")
          .clearfix
            != f.label :hours_worked
            != f.number_field :hours_worked, :size => 4
        != f.submit 'Save', :class => 'btn primary'
        != link_to 'Delete', story_actual, :method => :delete, :confirm => 'Are you sure you want to delete this estimate?', :class => 'btn danger'
  %td
    != format_date story_actual.created_at
  %td
    != story_actual.estimate