- content_for :head do
  != javascript_include_tag "http://cdn.jquerytools.org/1.2.6/jquery.tools.min.js"
  != javascript_include_tag 'estimation_view.js'

.page-header
  %h1
    - if @story
      Estimating "#{@story.title}"
    - else
      Estimation Examples

#estimation_view
  .items
    - @groups.each do |bucket, examples|
      .estimation-bucket
        .bucket
          .bucket-info
            != "#{bucket.pretty_print_html}"
          .time-range
            != range_html(bucket)
          - if @story
            = form_for [current_project, @story] do |f|
              != f.hidden_field :title
              != f.hidden_field :estimate, :value => bucket.value
              %button.btn.info.smaller-button Smaller
              != f.submit "Just right", :class => 'btn success right-button'
              %button.btn.info.bigger-button Bigger
        
        .stories
          %ul.group
            - examples.each do |example|
              %li.story
                .title
                  = example.title

