- content_for :head do
  :javascript

    function saveButtonClicked() {
        var outer_div = $(this).closest(".form");
        var form = outer_div.find("form").first();
        $.ajax({
          type: 'POST',
          url: form.prop('action'),
          data: form.serialize(), 
          dataType: 'json',
          success: function(data) {
            $("#row_" + data.id).hide('slow', 'swing', function() {
              $(this).remove();
            });
            outer_div.modal('hide');
          },
          error: function(jq, textStatus, errorThrown) {
              var response = $.parseJSON(jq.responseText);
              var errors = response.errors;
              for (field in errors) {
                var input_div = form.find("." + field);
                input_div.addClass("error");
                input_div.find(".help-inline").html(errors[field].join(","));
              }
          }
        });
        return false;  
    }
    
    $(document).ready(function() {
      $('.subnav .estimates').addClass('active');

      $('form#new_story').submit(function() {
          if ($('#story_title')[0].value == '') {
              $('.alert-message.error').show();
              return false;
          }
          return true;
      });
  
      $('button.ajaxd').click(saveButtonClicked);

      $('.modal').bind('hidden', function () {
          $(this).find('input.date_picker').datepicker('setDate', new Date());
          $(this).find('.clearfix.error').find('input').val('');
          $(this).find('.clearfix.error').find('.help-inline').html('');
          $(this).find('.clearfix.error').removeClass('error');
      });


      $('input.date_picker').datepicker({dateFormat: 'mm/dd/yy'});

      $('#stories').tablesorter({ sortList: [[1,1]] });

    });

- if flash.key? :success
  .alert-message.success.fade.in{"data-alert" => "alert"}
    %a.close{:href=>"#"}
      x
    = flash[:success]

.alert-message.error.fade.in{"data-alert" => "alert", :style => "display:none;"}
  %a.close{:href=>"#"}
    x
  You need to add a story title.


- if current_project.stories.empty?
  %p
    You haven't entered any estimates. Add one below, or 
    != link_to 'import them from a CSV file', new_project_import_path

%h2 Start a new estimate

=form_for current_project.stories.build, :url => new_interactive_project_stories_path, :html => {:class => 'form-stacked'} do |f|
  %fieldset
    .clearfix
      != f.label :title
      != f.text_field :title, :class => 'span14'
      != f.submit "Estimate", :class => 'btn primary span2'

%hr

%h2 Record actual effort
- if @stories_no_actual.empty?
  %p
    %em
      Nothing open
- else
  %table#stories
    %thead
      %tr
        %th Title
        %th Created
        %th Estimate
      %tbody
        != render :partial => 'story', :collection => @stories_no_actual
  != render :partial => 'record_actual_form', :collection => @stories_no_actual, :as => :story

!= form_tag "fake/url", :method => :put
