- content_for :head do
  != javascript_include_tag 'estimation_view.js'
  :javascript
    $(document).ready(function() {
      $('.subnav .estimates').addClass('active');
    });

- if flash.key? :notice
  .alert-message.success.fade.in{"data-alert" => "alert"}
    %a.close{:href=>"#"}
      x
    = flash[:notice]

%h2 Start a new estimate

= form_for [current_project, @story], :html => {:class => 'form-stacked'} do |f|
  %fieldset
    #title_div.clearfix
      != f.label :title
      != f.text_field :title, :class => 'span12'
      %span.help-inline 
    != f.submit 'Create', :class => 'btn primary'
