- content_for :head do
  :javascript
    $(document).ready(function() {
      $('.nav .estimates').addClass('active');

      $('form#new_story').submit(function() {
          if ($('#story_title')[0].value == '') {
              $('.alert-message.error').show();
              return false;
          }
          return true;
      });
      $('.title a.expand').click(function() {
          $(this).parent().children('div').toggle('fast');
          return false;
      });
  
      $('table input.ajaxd').click(function() {
          var form = $(this).parents("form");
          swapMonthDay(form);
          $.post(form.prop('action'), form.serialize(), function() {
              form.parents("tr").remove();
          });
          swapMonthDay(form);
          return false;  
      });

      function swapMonthDay(form) {
          dateString = form.find('input.date_picker')[0].value;
          var field1 = dateString.substr(0, 2);
          var field2 = dateString.substr(3, 2);
          var year = dateString.substr(6, 4);
          form.find('input.date_picker')[0].value = field2 + '/' + field1 + '/' + year;;
      }


      $('input.date_picker').datepicker({dateFormat: 'mm/dd/yy'});

      $('#stories').tablesorter({ sortList: [[1,1]] });

    });

- if flash.key? :success
  .alert-message.success.fade.in{"data-alert" => "alert"}
    %a.close{:href=>"#"}
      x
    = flash[:success]

.alert-message.error.fade.in{"data-alert" => "alert", :style => "display:none;"}
  %a.close{:href=>"#"}
    x
  You need to add a story title.


- if current_user.stories.empty?
  %p
    You haven't entered any estimates. Add one below, or 
    != link_to 'import them from a CSV file', new_import_path

%h2 Start a new estimate

=form_for current_user.stories.build, :url => new_interactive_stories_path, :html => {:class => 'form-stacked'} do |f|
  %fieldset
    .clearfix
      != f.label :title
      != f.text_field :title, :class => 'span14'
      != f.submit "Estimate", :class => 'btn primary span2'

%hr

%h2 Record actual effort
- if @stories_no_actual.empty?
  %p
    %em
      Nothing open
- else
  %table#stories
    %thead
      %tr
        %th Title
        %th Created
        %th Estimate
      %tbody
        != render :partial => 'story_actual', :collection => @stories_no_actual

