- content_for :head do
  :javascript
    $(document).ready(function() {
      $('.nav .estimates').addClass('active');
    });
  != javascript_include_tag 'bootstrap/bootstrap-alert.js'

.page-header
  %h1
    Estimates

- if flash.has_key? :success
  .alert-message.success.fade.in{"data-alert" => "alert"}
    %a.close{:href=>"#"}
      x
    = flash[:success]


- if current_user.stories.empty?
  %p
    You haven't entered any estimates. Add one below, or 
    != link_to 'import them from a CSV file', new_import_path

.row
  .span16
    %h2 Start a new estimate

    =form_for current_user.stories.build, :url => new_interactive_stories_path, :html => {:class => 'form-stacked'} do |f|
      %fieldset
        .clearfix
          != f.label :title
          != f.text_field :title, :class => 'span13'
          != f.submit "Estimate", :class => 'btn primary span2'

%hr

.row
  .span16
    %h2 Record actual effort

    - if @stories_no_actual.empty?
      %p
        %em
          Nothing open
    - else
      %table
        != render :partial => 'story_actual', :collection => @stories_no_actual

