- content_for :head do
  :javascript
    $(document).ready(function() {
      // No tab here.
    });

.page-header
  %h1
    Estimating "#{@story.title}"

#estimation_view
  - @groups.each do |bucket, examples|
    .row
      .span14
        %ul.group
          %h2
            = bucket
            = form_for @story do |f|
              != f.hidden_field :title
              != f.hidden_field :estimate, :value => bucket
              != f.submit "About this big", :class => 'btn primary'
            
          - examples.each do |example|
            %li.story
              .title
                = example.title
