#average_burn_rate
  %h2 Averages
  %table
    %tr
      %th.estimate_group
        Estimate <br> Group
      %th.newest_10
        Newest 10
      %th.newest_30{:colspan => 2}
        Newest 30
      %th.all
        All
    - @estimate_groups.each do |group|
      %tr{:class => cycle('odd', 'even')}
        %td.estimate_group
          = group.title
        %td.newest_10
          != group.data_series.first(10).to_html
        %td.newest_30
          != discrete_sparkline group
        %td.newest_30
          != group.data_series.first(30).to_html
        %td.all
          != group.data_series.to_html

#burn_rate
  %h2 Burn Rate Per Story
  %table
    %tr
      %th.story Story
      %th.finished Finished
      %th.estimate Estimate
      %th.hours Hours Worked
      %th.burn_rate Burn Rate
      %th.status Hours vs. <br> Average
    - @stories.each do |story|
      %tr{:class => "#{cycle('odd', 'even')} #{story.status}",
          :title => "average for #{format_estimate(story.estimate)} point story is #{story.data_series.to_html_attribute}"}
        %td.story
          != format_title story.title
        %td.finished
          = format_date story.finished
        %td.estimate
          = format_estimate story.estimate
        %td.hours
          = story.hours_worked
        %td.burn_rate
          = story.burn_rate.round.to_i
        %td.status
          != format_variance story.variance_vs_mean