%h2 Averages

%table#average_burn_rate
  %tr
    %th
      Estimate <br> Group
    %th
      Newest 10
    %th
      Newest 30
    %th
      All
  - @estimate_groups.each do |group|
    %tr{:class => cycle('odd', 'even')}
      %td
        = group.title
      %td
        != group.average.first(10).to_html
      %td
        != group.average.first(30).to_html
      %td
        != group.average.to_html

%h2 Burn Rate Per Story

%table#burn_rate
  %tr
    %th.story Story
    %th.finished Finished
    %th.estimate Estimate
    %th.hours Hours Worked
    %th.burn_rate Burn Rate
  - @stories.each do |story|
    %tr{:class => cycle('odd', 'even')}
      %td.story
        != format_title story.title
      %td.finished
        = format_date story.finished
      %td.estimate
        = format_estimate story.estimate
      %td.hours
        = story.hours_worked
      %td.burn_rate
        = story.burn_rate.round.to_i