#average_cycle_time
  %h2 Averages
  %table
    %tr
      %th.estimate_group
        Estimate <br> Group
      %th.newest_10
        Newest 10
      %th.newest_30
        Newest 30
      %th
        History
      %th.all
        All
    - @estimate_groups.each do |group|
      %tr{:class => cycle('odd', 'even')}
        %td.estimate_group
          = group.title
        %td.newest_10
          != group.average.first(10).to_html
        %td.newest_30
          != group.average.first(30).to_html
        %td
          != discrete_sparkline group
        %td.all
          != group.average.to_html

#cycle_time
  %h2 Cycle Time Per Story
  %table
    %tr
      %th.story Story
      %th.points Points
      %th.date Started
      %th.date Finished
      %th.time Cycle Time
      %th.status Days vs. Average
    - @stories.each do |story|
      %tr{:class => "#{cycle('odd', 'even')} #{story.status}",
          :title => "average for #{format_estimate(story.estimate)} point story is #{story.average.to_html_attribute}"}
        %td.story
          != format_title story.title
        %td.points
          = format_estimate story.estimate
        %td.date
          = format_date story.started
        %td.date
          = format_date story.finished
        %td.time
          = story.cycle_time
        %td.status
          != story.variance_vs_average