!= render :partial => 'team_navigation'

%table
  %tr
    %th Story
    %th Date
    %th Days for <br> Last 5 Points
    %th Days for <br> Last 15 Points
    %th Days for <br> Last 5 Stories
    %th Days for <br> Last 15 Stories
  - @cycle_times.each do |cycle_time|
    %tr
      %td
        != format_title cycle_time.story
      %td
        = format_date cycle_time.date
      %td
        = cycle_time.for_points 5
      %td
        = cycle_time.for_points 15
      %td
        = cycle_time.for_stories 5
      %td
        = cycle_time.for_stories 15
