!= render :partial => 'team_navigation'

%table#cycle_time
  %tr
    %th.story Story
    %th.date Date
    %th.time Days for <br> Last 5 Points
    %th.time Days for <br> Last 15 Points
    %th.time Days for <br> Last 5 Stories
    %th.time Days for <br> Last 15 Stories
  - @cycle_times.each do |cycle_time|
    %tr{:class => cycle('odd', 'even')}
      %td.story
        != format_title cycle_time.story
      %td.date
        = format_date cycle_time.date
      %td.time
        = cycle_time.for_points 5
      %td.time
        = cycle_time.for_points 15
      %td.time
        = cycle_time.for_stories 5
      %td.time
        = cycle_time.for_stories 15
