- content_for :head do
  != javascript_include_tag 'story_popup.js'
  :javascript

    $(document).ready(function() {
      $('.subnav .actuals').addClass('active');
      $('#stories').tablesorter({ sortList: [[1,1]] });
      
      // What to do when the editing popup returns successfully
      $('body').bind('story_saved', function(e, story_data) {
        $("#row_" + story_data.id).hide('slow', 'swing', function() {
          $(this).remove();
        });
      });
    });

- if flash.key? :notice
  .alert-message.success.fade.in{"data-alert" => "alert"}
    %a.close{:href=>"#"}
      x
    = flash[:notice]

- if current_project.stories.empty?
  %p
    You haven't entered any estimates. 
    != link_to 'Add some', project_stories_path
    or 
    != link_to 'import them from a CSV file', new_project_import_path

%h2 Record actual effort
- if @stories_no_actual.empty?
  %p
    %em
      Nothing open
- else
  %table#stories
    %thead
      %tr
        %th Title
        %th Created
        %th Estimate
      %tbody
        != render :partial => 'story', :collection => @stories_no_actual
  != render :partial => 'history/form', :locals => {:all_fields => false}
