.page-header
  %h1
    - if @story
      Estimating "#{@story.title}"
    - else
      Estimation Examples

#estimation_view
  - @groups.each do |bucket, examples|
    .row
      .span14
        %ul.group
          %h2
            = "#{bucket} #{min_html bucket}hours #{max_html bucket}hours"
            - if @story
              = form_for @story do |f|
                != f.hidden_field :title
                != f.hidden_field :estimate, :value => bucket
                != f.submit "About this big", :class => 'btn primary'
            
          - examples.each do |example|
            %li.story
              .title
                = example.title
