#estimation_view
  %h1
    Example stories for each estimate:
    != link_to '-', :count => @count - 1
    = @count
    != link_to '+', :count => @count + 1
  - @groups.each do |group|
    %ul.group
      %h2
        = group[0].estimate
      - group.each do |story|
        %li.story
          .title
            = story.title
          .estimate
            != story.under_or_over_html
            %span.calculated
              = story.estimate
