#estimation_view
  %h1
    Example stories for each estimate:
    != link_to '-', :count => @count - 1
    = @count
    != link_to '+', :count => @count + 1
  - @groups.each do |group|
    .group
      - group.each do |story|
        .story
          .title
            = story.title
          .estimate
            != story.under_or_over_html
            = story.estimate
