%html
  %head
    %title
      Pointilist
    != stylesheet_link_tag 'styles'
  %body
    %h1 Pointilist
    %ul#navigation
      %li
        != navigation_link 'stories'
      %li
        != navigation_link 'throughput'
      %li
        != navigation_link 'cycle_time'
      %li
        != navigation_link 'burn_rate'
      %li
        != navigation_link 'holidays'
    #content
      != yield