%html
  %head
    %title 
      orso

    != stylesheet_link_tag 'http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css'
    != stylesheet_link_tag 'screen'

    / != javascript_include_tag :defaults
    / != javascript_include_tag 'jquery.sparkline.min'
    / :javascript
    /   $(document).ready(function() {
    /     $('.sparkline').sparkline('html', { enableTagOptions: true });
    /   });
  %body
  %div.topbar
    %div.topbar-inner
      %div.container
        != link_to 'orso', root_path, :class => 'brand'
        %ul.nav
          -if user_signed_in?
            %li
              != link_to 'Tool', estimation_view_path
            %li
              != link_to 'Estimates', stories_path
            %li
              != link_to 'Reports', burn_rate_path
        %p.pull-right
          -if user_signed_in?
            #{current_user.email}
            != link_to "Sign out", destroy_user_session_path, :method => :delete
          -else
            != link_to "Member login", new_user_session_path
        
  
  %div.container.main-container
    %div.content
      %div.row
        - if notice
          %p{:class=> 'notice'}
            != notice
        - if alert
          %p{:class=> 'alert'}
            != alert
      %div.row
        != yield

    %footer
      %p orso is a cyrusinnovation product
