!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title orso
      / Le HTML5 shim, for IE6-8 support of HTML elements
      /[if lt IE 9]
        != javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
      != stylesheet_link_tag "application"
      != stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Unkempt'
      != javascript_include_tag "application"
      :javascript
        var uvOptions = {};
        (function() {
          var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
          uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/wsxF9xBuFu4cZh8nSmoKw.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
        })();
      :css
        .brand {
          font-family: Unkempt, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
      
        footer p {
          text-align: center;
        }

      != yield :head
  %body
    .topbar
      .fill
        .container
          != link_to 'orso', root_path, :class => 'brand'
          -if user_signed_in?
            %ul.nav
              %li.dropdown{"data-dropdown" => "dropdown"}
                != link_to 'Projects', '#', :class => 'dropdown-toggle'
                %ul.dropdown-menu
                  - current_user.projects.each do |project|
                    %li
                      != link_to project.name, project_stories_path(project)
              %li
                != link_to 'Account', edit_user_registration_path, :target => '_blank'
            %p.pull-right
              #{current_user.email}
              != link_to "Sign out", destroy_user_session_path, :method => :delete
          -else
            = form_for(:user, :as => 'user', :url => session_path(:user), :html => {:class => 'pull-right'}) do |f|
              = f.email_field :email, :class => 'input-small'
              = f.password_field :password, :class => 'input-small'
              / = f.check_box :remember_me
              %button.btn{:type => "submit"} Sign in
    .container.main-container
      -if in_project?
        %ul.tabs.subnav
          %li.estimates
            != link_to 'Estimates', project_stories_path(current_project)
          %li.reports
            != link_to 'Trends', project_trends_path(current_project)
          %li.history
            != link_to 'History', project_history_path(current_project)
          %li.settings.pull-right
            != link_to 'Settings', project_edit_settings_path(current_project)
        
      .content
        != yield

      %footer
        %p 
          orso is a 
          != link_to "Cyrus Innovation", "http://www.cyrusinnovation.com"
          product 
          |
          != link_to "privacy policy", privacy_path, :target => '_blank'

