!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title Idea Tracker
      / Le HTML5 shim, for IE6-8 support of HTML elements
      /[if lt IE 9]
      != javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
      != stylesheet_link_tag "application"
      != javascript_include_tag "application"
      != javascript_include_tag 'idea_popup.js'
      != javascript_include_tag 'idea_controls.js'
      != javascript_include_tag 'project_interaction.js'
      != stylesheet_link_tag 'print', :media => 'print'
      != yield :head
  %body
    =render 'layouts/navbar'

    .container
        
      .content
        - if flash.key? :alert
          .alerts
            .alert.alert-error.fade.in{"data-alert" => "alert"}
              %button.close{:data => {:dismiss =>'alert'}}
                x
              = flash[:alert]
        - if flash.key? :notice
          .alerts
            .alert.alert-info.fade.in{"data-alert" => "alert"}
              %button.close{:data => {:dismiss =>'alert'}}
                x
              = flash[:notice]
        != yield

      %footer.span12
        %p
          Idea Tracker is a 
          != link_to "Cyrus Innovation", "http://www.cyrusinnovation.com"
          product 
