%html
  %head
    %title
      Pointilist -
      != controller_name.titleize
    != stylesheet_link_tag 'styles'
    != javascript_include_tag 'jquery-1.5.1.min', 'jquery.sparkline'
    :javascript
      jQuery(function() {
        jQuery('.sparkline').sparkline('html', { enableTagOptions: true });
      });
  %body
    %h1 Pointilist
    %ul#navigation
      %li
        != navigation_link 'dashboard'
      %li
        != navigation_link 'stories'
      %li
        != navigation_link 'throughput'
      %li
        != navigation_link 'cycle_time'
      %li
        != navigation_link 'burn_rate'
      %li
        != navigation_link 'estimation_view'
      %li
        != navigation_link 'holidays'
    #content
      != yield