%html
  %head
    %title
      Pointilist -
      != controller_name.titleize
    != stylesheet_link_tag 'styles'
    != stylesheet_link_tag 'print', :media => 'print'
    != javascript_include_tag :defaults
    != include_visualization_api
    != render_visualizations
    != javascript_include_tag 'jquery.sparkline.min'
    :javascript
      jQuery(function() {
        jQuery('.sparkline').sparkline('html', { enableTagOptions: true });
      });
  %body
    %p{:class=> 'notice'}
      != notice
    %p{:class=> 'alert'}
      != alert
    #user_nav
      - if user_signed_in?
        Signed in as #{current_user.email}. Not you? #{link_to "Sign out", destroy_user_session_path, :method => :delete}
      - else
        #{link_to "Sign up", new_user_registration_path} or #{link_to "sign in", new_user_session_path}

    %h1 Pointilist
    %ul#navigation
      %li
        != navigation_link 'stories'
      %li
        != navigation_link 'burn_rate'
      %li
        != navigation_link 'estimation_view'
    #content
      != yield
    #footer
